/**
  Main entry point for the application's stylesheets
 */
@import './windows-generator/windows-generator';
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
}
